/* line 6, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coin.scss */
.flex-row {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* line 12, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coin.scss */
#show-text {
  color: black;
}

/* line 17, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coin.scss */
.head-name {
  align-items: center;
}

/* line 21, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coin.scss */
#h-icon {
  width: 37px;
  height: 37px;
  margin-right: 20px;
  margin-bottom: 1px;
}
/* line 1, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
* {
  font-size: 18px;
}

/* line 7, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-table-header {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 20%;
  justify-content: space-around;
}

/* line 15, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-row-first {
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}

/* line 22, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-row {
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;
  display: flex;
}

/* line 30, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-table-row {
  display: flex;
  width: 80%;
  height: 90ch;
  justify-content: space-between;
  text-align: center;
  align-content: flex-start;
}

/* line 40, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.table-column {
  display: flex;
  width: 80%;
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto;
}

/* line 48, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-table-price,
.flex-table-24hChange {
  line-height: 23px;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-collapse: collapse;
  border-top-color: #f2f2f2;
  border-top-style: solid;
  border-top-width: 0.994318px;
  color: black;
  flex-shrink: 1;
  cursor: pointer;
  display: table-cell;
  text-align: left;
  max-height: inherit;
}
/* line 65, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-table-price > div,
.flex-table-24hChange > div {
  padding: 15px;
  margin-top: 16px;
  font-size: 20px;
  border-bottom-color: #f2f2f2;
  border-bottom-style: solid;
  border-bottom-width: 0.994318px;
}

/* line 75, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-table-name {
  line-height: 23px;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-collapse: collapse;
  border-top-color: #f2f2f2;
  border-top-style: solid;
  border-top-width: 0.994318px;
  color: black;
  flex-shrink: 1;
  cursor: pointer;
  display: table-cell;
  text-align: left;
  max-height: inherit;
}
/* line 91, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-table-name > div {
  padding: 15px;
  margin-bottom: -1px;
  margin-top: 3px;
  font-size: 20px;
  border-bottom-color: #f2f2f2;
  border-bottom-style: solid;
  border-bottom-width: 1.994318px;
}

/* line 102, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-name {
  text-decoration: none;
  color: black;
  font-size: 20px;
  height: 30px;
}

/* line 110, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.positivepct {
  color: #70a800;
}

/* line 114, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.negativepct {
  color: #ea0070;
}

/* line 118, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.table-column div {
  text-align: center;
}

/* line 123, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
#c-icon {
  width: 37px;
  height: 37px;
  margin-right: 20px;
  margin-bottom: 1px;
}

/* line 130, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
#c-icon2 {
  width: 31px;
  height: 31px;
  margin-right: 20px;
}

/* line 136, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
#c-icon3 {
  width: 31px;
  height: 31px;
  margin-right: 20px;
}

/* line 143, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
#div-price {
  border-top-color: #f2f2f2;
  border-top-style: solid;
  border-top-width: 0.994318px;
}

/* line 149, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
#btc-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  border-bottom-color: #f2f2f2;
  border-bottom-style: solid;
  border-bottom-width: 0.994318px;
  margin-bottom: 7px;
}

/* line 161, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.c-graph {
  height: 35px;
  width: 70px;
  margin-top: 0px;
  margin-left: 25px;
}

/* line 168, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-table-markets {
  line-height: 23px;
  width: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-collapse: collapse;
  border-top-color: #f2f2f2;
  border-top-style: solid;
  border-top-width: 0.994318px;
  color: black;
  flex-shrink: 1;
  cursor: pointer;
  display: table-cell;
  text-align: left;
  max-height: inherit;
}
/* line 184, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/coins-table.scss */
.flex-table-markets > div {
  padding: 8px;
  margin-bottom: 6px;
  margin-top: 13px;
  font-size: 20px;
  border-bottom-color: #f2f2f2;
  border-bottom-style: solid;
  border-bottom-width: 0.994318px;
}
/* line 1, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/footer.scss */
.footer-container {
  background-color: #1E2126;
  width: 100%;
  height: 15em;
  position: relative;
  overflow: hidden;
  margin-top: 180px;
  margin-bottom: 0px;
  clear: both;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 17, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/footer.scss */
.footer-sent {
  position: absolute;
  text-size-adjust: 100%;
  font-size: 250%;
  margin-right: 24px;
  font-family: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
}

/* line 30, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/footer.scss */
.footer-submit {
  text-decoration: none;
  margin-right: 24px;
  background-color: #f0b90b;
  display: inline-flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  position: relative;
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  padding: 11px 28px;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.2s ease 0s;
  outline: none;
  border-width: 30px;
  border-style: none;
  border-color: initial;
  border-image: initial;
  justify-content: center;
  background-color: #F0B90B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 14%;
  height: 20%;
  font-size: 1em;
  bottom: -23%;
}
/* line 1, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
div#nav-container {
  padding: 0px 0px;
  background-color: #1E2126;
  box-sizing: border-box;
  position: relative;
  height: 70px;
  font-family: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
}

/* line 10, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
.nav-logo {
  height: fit-content;
  margin: auto 1rem auto 7rem;
}
/* line 13, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
.nav-logo img {
  width: 11rem;
}

/* line 19, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
#nav-container {
  display: flex;
}

/* line 23, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
#nav-sections {
  display: flex;
  width: 100%;
  margin-right: 7rem;
}

/* line 30, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
div.nav-section ul {
  list-style-type: none;
  font-size: 1em;
  display: flex;
  margin: auto 1em;
  padding-left: 0;
}
/* line 36, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
div.nav-section ul li a {
  text-transform: uppercase;
  padding: 8px;
  color: white;
  margin-left: 0px;
}
/* line 43, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
div.nav-section ul a:hover {
  text-decoration: underline;
}

/* line 53, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
#nav-left {
  flex-grow: 1;
  display: flex;
}

/* line 58, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
.nav-selected {
  border: 2px solid white;
  border-radius: 2px;
}

/* line 64, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
.nav-word {
  text-decoration: none;
}
/* line 67, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
.nav-word:hover {
  text-decoration: underline;
}

/* line 71, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
#nav-right {
  margin: auto 1em;
}
/* line 73, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
#nav-right div {
  display: flex;
}
/* line 75, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
#nav-right div li a {
  text-transform: uppercase;
  padding: 8px;
  font-size: 1em;
  text-decoration: none;
  color: white;
  margin-left: 0px;
}
/* line 82, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/nav_bar.scss */
#nav-right div li a:hover {
  text-decoration: underline;
}
/* line 1, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/reset.scss */
body, header, nav, aside, h1, h2, figure, section, label, div, span {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  font-family: inherit;
  background-color: transparent;
  font-weight: inherit;
  font: inherit;
  vertical-align: baseline;
  font-size: 18px;
}

/* line 13, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/reset.scss */
body {
  line-height: 1.5;
}

/* line 16, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/reset.scss */
ul, ol, li {
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

/* line 21, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/reset.scss */
ul, ol {
  list-style: none;
}

/* line 24, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/reset.scss */
img {
  width: 100%;
}
/* line 1, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/sessions.scss */
* {
  font-family: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
}

/* line 5, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/sessions.scss */
.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/* line 11, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/sessions.scss */
.login-form-container > .login-input {
  display: flex;
  justify-content: center;
}

/* line 23, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/sessions.scss */
.login-form-box {
  max-width: 500px;
  padding: 12px 20px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* line 38, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/sessions.scss */
.sign-in-error {
  font-family: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
  color: red;
}

/* line 43, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/sessions.scss */
.login-title {
  text-align: center;
  color: #333;
  font-weight: 600;
  font-size: 1.5em;
  margin: 1em 0;
}

/* line 52, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/sessions.scss */
.login-input {
  box-sizing: border-box;
  justify-content: center;
  font-size: 1em;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* line 63, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/sessions.scss */
.session-submit {
  justify-content: center;
  background-color: #F0B90B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
}

/* line 75, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/sessions.scss */
.demo-login {
  justify-content: center;
  background-color: #92A0AD;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
}
/* line 1, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/show-page.scss */
.outter-most-show {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

/* line 7, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/show-page.scss */
.show-header {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15%;
  margin-top: 2%;
}

/* line 16, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/show-page.scss */
.show-header-right {
  display: flex;
}

/* line 20, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/show-page.scss */
.linechart {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
  width: 550px;
  height: 405px;
}

/* line 27, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/show-page.scss */
.show-table-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
  background-color: #FFF;
  width: 80%;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  flex-direction: column;
}

/* line 49, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/show-page.scss */
.timeframe {
  display: flex;
  width: 550px;
  border-right: none;
}

/* line 55, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/show-page.scss */
.timeframe-list {
  padding: 10px 32px;
  border-top: 1px solid #eceff1;
  border-bottom: 1px solid #eceff1;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  width: 550px;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: background-size .5s, color .5s;
  background-size: 0 0;
  background-position: 50% 50%;
  border-radius: 10px;
}

/* line 71, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/show-page.scss */
.timeframe-list:hover {
  background-color: #1E2126;
  color: white;
}
/* line 1, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
* {
  font-family: "Times New Roman", Times, serif;
}

/* line 5, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
.splash-container {
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0px 0px;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

/* line 17, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
.splash-amount {
  box-shadow: rgba(163, 78, 78, 0.1) 0px 0px 10px;
  position: absolute;
  font-size: 23px;
  font-style: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
  top: 63%;
  left: 10%;
  width: 265px;
  height: 40px;
  box-sizing: border-box;
  color: white;
  background: #373737;
  border-radius: 3px;
  border-style: none;
  padding: 11px 16px;
}

/* line 37, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
.splash-buy {
  box-shadow: rgba(163, 78, 78, 0.1) 0px 0px 10px;
  position: absolute;
  font-size: 23px;
  font-style: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
  top: 63%;
  left: 33%;
  width: 265px;
  height: 40px;
  box-sizing: border-box;
  color: white;
  background: #373737;
  border-radius: 3px;
  border-style: none;
  padding: 11px 16px;
}

/* line 58, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
.splash-sent {
  position: absolute;
  line-height: 40px;
  top: 8%;
  left: 10%;
  text-size-adjust: 100%;
  font-size: 250%;
  font-family: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
}

/* line 70, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
.splash-subsent {
  position: absolute;
  font-size: 100%;
  color: #787878;
  top: 29%;
  left: 10%;
}

/* line 78, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
.splash-subsent2 {
  position: absolute;
  font-size: 100%;
  color: white;
  top: 50%;
  left: 10%;
}

/* line 86, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
.splash-subsent3 {
  position: absolute;
  font-size: 100%;
  color: white;
  top: 50%;
  left: 33%;
}

/* line 94, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
.splash-logo {
  height: 360px;
  width: 100%;
  margin: 00px;
  justify-content: center;
  background-image: url(/assets/steller-4163416bdf8f2451fb34bb981006e9361378be963534336347f91073a41214bd.gif);
  background-size: cover;
  text-align: center;
  z-index: 1;
  cursor: default;
}

/* line 107, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
.ad-logo {
  position: absolute;
  top: 20%;
  right: 6%;
  height: 55%;
  width: 30%;
}

/* line 116, /Users/Vince/Desktop/FullStack-Project-/app/assets/stylesheets/splash.scss */
.table-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
  background-color: #FFF;
  width: 70%;
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  color: #848e9c;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


 
