* {
    font-size: 18px;
}



.flex-table-header {
    display: flex;
    margin: 0 auto; 
    width: 80%;
    height: 20%;
    justify-content: space-around;
}

.flex-row-first {
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    font-size: 15px
}

.flex-row {
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 15px;
    display: flex;
}

.flex-table-row {
    display: flex;
    width: 80%;
    height: 90ch;
    justify-content: space-between;
    text-align: center;
    align-content: flex-start;
    
}

.table-column {
    display: flex; 
    width: 80%;
    box-sizing: border-box;
    text-align: left;
    margin: 0 auto;
}

.flex-table-price,
.flex-table-24hChange {
    line-height: 23px;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-collapse:collapse;
    border-top-color:rgb(242, 242, 242);
    border-top-style:solid;
    border-top-width:0.994318px;
    color:rgb(0, 0, 0);
    flex-shrink: 1;
    cursor:pointer;
    display:table-cell;
    text-align: left;
    max-height: inherit;
    > div {
        padding: 15px;
        margin-top: 16px;
        font-size: 15px;
        border-bottom-color:rgb(242, 242, 242);
        border-bottom-style:solid;
        border-bottom-width:0.994318px;
        cursor: default;
    }
}

.flex-table-name {
    line-height: 23px;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-collapse:collapse;
    border-top-color:rgb(242, 242, 242);
    border-top-style:solid;
    border-top-width:0.994318px;
    color:rgb(0, 0, 0);
    flex-shrink: 1;
    cursor:pointer;
    display:table-cell;
    text-align: left;
    max-height: inherit;
    > div {
        padding: 15px;
        margin-bottom: -1px;
        margin-top: 3px;
        font-size: 15px;
        border-bottom-color:rgb(242, 242, 242);
        border-bottom-style:solid;
        border-bottom-width:1.994318px;
    }
}

.flex-name {
    text-decoration: none;
    color: black;
    font-size: 15px;
    height: 30px;
}


.positivepct {
    color: rgb(112, 168, 0);
}

.negativepct {
    color: rgb(234, 0, 112);
}

.table-column div {
    text-align: center;
}


#c-icon {
    width: 37px; 
    height: 37px;
    margin-right: 20px;
    margin-bottom: 1px;
}

#c-icon2 {
    width: 31px;
    height: 31px;
    margin-right: 20px;
}

#c-icon3{
    width: 31px; 
    height: 31px;
    margin-right: 20px;
}


#div-price {
    border-top-color:rgb(242, 242, 242);
    border-top-style:solid;
    border-top-width:0.994318px;
}

#btc-div {
    display:flex; 
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    border-bottom-color:rgb(242, 242, 242);
    border-bottom-style:solid;
    border-bottom-width:0.994318px;
    margin-bottom: 7px

}

.c-graph {
    height: 35px;
    width: 70px;
    margin-top: 0px;
    margin-left: 25px;
}

.flex-table-markets {
    line-height: 23px;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-collapse:collapse;
    border-top-color:rgb(242, 242, 242);
    border-top-style:solid;
    border-top-width:0.994318px;
    color:rgb(0, 0, 0);
    flex-shrink: 1;
    cursor:pointer;
    display:table-cell;
    text-align: left;
    max-height: inherit;
    > div {
        padding: 8px;
        margin-bottom: 6px;
        margin-top: 13px;
        font-size: 15px;
        border-bottom-color:rgb(242, 242, 242);
        border-bottom-style:solid;
        border-bottom-width:0.994318px;
        cursor: default
    }
}

.flex-table-trade {
    line-height: 23px;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-collapse:collapse;
    border-top-color:rgb(242, 242, 242);
    border-top-style:solid;
    border-top-width:0.994318px;
    color:rgb(0, 0, 0);
    flex-shrink: 1;
    cursor:pointer;
    display:table-cell;
    text-align: left;
    max-height: inherit;
    > div {
        padding: 15px;
        margin-top: 16px;
        font-size: 15px;
        border-bottom-color:rgb(242, 242, 242);
        border-bottom-style:solid;
        border-bottom-width:0.994318px;
        cursor: default;
        padding: 1em;
        margin: 0 -1em;
        margin-top: 4px;
        margin-left: 15px;
    }
}

.flex-table-trade-button{
    text-decoration: none;
    box-sizing: border-box;
  -webkit-box-align: center;
  justify-content: center;
  position: relative;
//   font-weight: 500;
    border-radius: 3px;
    background-color: #F0B90B;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}