* {
  font-family: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form-container > .login-input {
  display: flex;
  justify-content: center;
}

// Commenting out styling since className is commented out within session_forms.jsx
// .login-form {
//   display: flex;
//   justify-content: center;
//   flex-direction: row;
// }

.login-form-box {
  //  width: 500px;
  //  height: auto;
  //  box-sizing: border-box;
  //  outline: 1px solid black;
  //  padding: 20px;
  max-width: 500px;
  padding: 12px 20px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-title {
  text-align: center;
  color: #333;
  font-weight: 600;
  font-size: 1.5em;
  margin: 1em 0;
}

.login-input {
  box-sizing : border-box;
  justify-content: center;
  font-size: 1em;
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.session-submit {
  justify-content: center;
  background-color: #F0B90B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
}

.demo-login {
  justify-content: center;
  background-color: #92A0AD;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
}