 .outter-most-show {   
    // display: flex;
    // flex-direction: column;
    margin-left: 15%;
    position:relative;
    border: 1px ;
    float: left;
 }

.show-header {
    flex-grow: 1;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    margin-left: 15%;
    margin-top: 2%;
    font-size:20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.show-header-right {
  display: flex; 
}

.linechart {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
  // width: 550px;
  // height: 405px;
}


.show-table-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
  background-color: #FFF;
  width: 80%;
  display: flex; 
  box-sizing: border-box;
  margin: 0 auto;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 3%;
}

// .flex-row {
  // color: rgb(132, 142, 156);
// }

.timeframe {
    display: flex;
    width: 550px;
    border-right: none;
    font-size: 13px
}

.custom-tooltip {
	background: #002244;
	color: white;
	border-radius: 2px;
	width: 130px;
	height: 50px;

	.tooltip-label, .tooltip-time {
		text-align: center;
	}
	.tooltip-label {
		margin: 0;
		padding: 5px 0 0 0;
		font-size: 1.25rem;
	}
	.tooltip-time {
		margin: 0;
		padding: 0 0 5px 0;
		font-size: .85rem;
	}
}



.recharts-tooltip-wrapper {
  // justify-content: center;
  // border-radius: 3px;
  // background-color: rgb(73, 75, 78);
  // color: white;
  // margin: 8px 0;
  // border: none;
  // cursor: pointer;
  // font-size: 1em;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    top: 0px;
    transform: translate(433.333px, 5px);
}
.timeframe-list {
    padding: 10px 32px;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #eceff1;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    width: 550px; ;
    cursor: pointer;
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s; 
    background-size: 0 0;
    background-position: 50% 50%;
    border-radius: 100px; 
}

.timeframe-list:hover {
  background-color: rgb(240, 185, 11);
  color: white; 
}

.timeframe-list.active {
  background-color: rgb(240, 185, 11);
}


.trans-button {
//       text-decoration: none;
//     box-sizing: border-box;
//     -webkit-box-align: center;
//     justify-content: center;
//     // position: relative;
// //   font-weight: 500;
//     border-radius: 3px;
//     background-color: #F0B90B;
//     color: white;
//     padding: 12px 20px;
//     border: none;
//     cursor: pointer;
//     font-size: 15px;



  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-align: center;
  justify-content: center;
  position: absolute;
  font-weight: 500;
  border-radius: 3px;
  background-color: #F0B90B;
  color: white;
  padding: 14px 20px;
  // margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 14%;
  height: fit-content;
  font-size: 1em;
  // bottom: -23%;
  left: 64%;
  top: 65px;
  margin: 25px 0px 20px 193px;
  font-size: 15px;
}

.news-header {
  text-align: left; 
  font-size: 30px;
  padding: 10px
}

ul.news {
  list-style-type: none;
  padding: 0; 
  margin-left: 1rem;

  li a {
    text-decoration: none;
	  color: black;				// Font for entire News Container
	  // color: rgb(111, 111, 111);				// Font for entire News Container

		&:hover { color: #458dc3 }

  }
}

.news-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
    margin-top: 5%;
    width: 80%;
}

.news-item {
  display:flex; 
}

p.news-source, p.news-date, p.news-symbol {
	display: inline-block;
	margin-right: 1rem;
	margin-top: 0;
	// color: black;								// LIGHT MODE
	color: rgb(111, 111, 111);				// DARK MODE
}

.news-image {
  // width: 30%;
  // height: 30%;
	width: 73px; 
  padding-right: 5px;
  float: right; 
}

.news-title {
  text-decoration: none;
}

.news-body {
  text-decoration: none; 
}