* {
  font-family: "Times New Roman", Times, serif;
} 

.splash-container {
    width: 100%;
    height: 50%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0px 0px;
    text-align: center; 
    color:white;
    margin-bottom: 40px;
  }

.splash-amount {
  box-shadow: rgba(163, 78, 78, 0.1) 0px 0px 10px;
  position:absolute;
  // line-height: 28px;
  font-size: 23px;
  font-style: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
  top: 63%;
  left: 10%;
  width: 265px;
  height: 40px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background: rgb(55, 55, 55);
  border-radius: 3px;
  // border-width: initial;
  border-style: none;
  // border-color: initial;
  // border-image: initial;
  padding: 11px 16px;
}
.splash-buy {
  box-shadow: rgba(163, 78, 78, 0.1) 0px 0px 10px;
  position:absolute;
  // line-height: 28px;
  font-size: 23px;
  font-style: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
  top: 63%;
  left: 33%;
  width: 265px;
  height: 40px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background: rgb(55, 55, 55);
  border-radius: 3px;
  // border-width: initial;
  border-style: none;
  // border-color: initial;
  // border-image: initial;
  padding: 11px 16px;
}

  .splash-sent {
    position:absolute;
    line-height: 40px;
    top: 8%;
    left: 10%;
    // justify-content: center;
    // align-items: center;
    text-size-adjust: 100%;
    font-size: 250%;
    font-family: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
}

.splash-subsent {
  position: absolute;
  font-size: 100%;
  color: rgb(120, 120, 120);
  top: 29%;
  left: 10%;
}
  
.splash-subsent2 {
  position: absolute;
  font-size: 100%;
  color: rgb(255, 255, 255);
  top: 50%;
  left: 10%;
}

.splash-subsent3 {
  position: absolute;
  font-size: 100%;
  color: rgb(255, 255, 255);
  top: 50%; 
  left: 33%
}

  .splash-logo {
    height: 360px;
    width: 100%;
    margin: 00px; 
    justify-content: center;
    background-image: asset-url('steller.gif');
    background-size: cover;
    // position: absolute;
    text-align: center; 
    z-index: 1;
}

.ad-logo {
    position: absolute;
    top: 20%;
    right: 6%;
    height: 55%;
    width: 30%;
    // z-index: 2;
}
