* {
  font-family: "Times New Roman", Times, serif;
} 

.splash-container {
    width: 100%;
    // height: 50%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0px 0px;
    text-align: center; 
    color:white;
  }

.splash-amount {
  box-shadow: rgba(163, 78, 78, 0.1) 0px 0px 10px;
  position:absolute;
  font-size: 23px;
  font-style: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
  top: 75%;
  left: 10%;
  width: 220px;
  height: 40px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background: rgb(55, 55, 55);
  border-radius: 3px;
  border-style: none;
  font-size: 15px;
 
  padding: 14px 20px;
}
.splash-buy {
  box-shadow: rgba(163, 78, 78, 0.1) 0px 0px 10px;
  position:absolute;
  // line-height: 28px;
  font-size: 23px;
  font-style: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
  top: 75%;
  left: 33%;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background: rgb(55, 55, 55);
  border-radius: 3px;
  // border-width: initial;
  border-style: none;
  // border-color: initial;
  // border-image: initial;
  padding: 14px 20px;
  font-size: 15px;

}

  .splash-sent {
    position:absolute;
    line-height: 40px;
    top: 17%;
    left: 10%;
    // justify-content: center;
    // align-items: center;
    text-size-adjust: 100%;
    font-size: 45px;
    font-family: DINNext, IBMPlexSans, Arial, PingFangSC-Regular, "Microsoft YaHei", sans-serif !important;
}

.splash-subsent {
  position: absolute;
  font-size: 18px;
  color: rgb(120, 120, 120);
  top: 55%;
  left: 10%;
}
  
.splash-subsent2 {
  position: absolute;
  font-size: 15px;
  color: rgb(255, 255, 255);
  top: 66%;
  left: 10%;
}
.current-compare {
  text-decoration: none;
}
.cur-comp-link {
  text-decoration: none;
  font-size: large;
  color: #787878;
}

// .cur-comp-link:hover {
//   te: yellow; 
// }
.splash-subsent3 {
  position: absolute;
  font-size: 15px;
  color: rgb(255, 255, 255);
  top: 66%; 
  left: 33%
}

  .splash-logo {
    background-image: asset-url('background.gif');
    height: 320px;
    width: 100%;
    // margin: 00px; 
    // justify-content: center;
    // background-color: rgb(11, 14, 17);
    // background-image: asset-url('steller.gif');
    background-size: cover;
    // position: absolute;
    // text-align: center; 
    // z-index: 1;
    // cursor: default; 
}

.ad-logo {
    position: absolute;
    top: 20%;
    right: 6%;
    height: 55%;
    width: 30%;
    // z-index: 2;
}

.megaphone {
  width: 30px;
  padding-right:12px;
  padding-bottom: 12px;
}
.table-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
  background-color: #FFF;
  width: 75%;
  display: flex; 
  box-sizing: border-box;
  margin: 0 auto;
  color: rgb(132, 142, 156);
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  // margin: 2rem 7rem 0 7rem;
}


.buy-button {
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-align: center;
  justify-content: center;
  position: absolute;
  font-weight: 500;
  border-radius: 3px;
  background-color: #F0B90B;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 9%;
  height: fit-content;
  font-size: 15px;
  // bottom: -23%;
  left: 52%;
  top: 74%;
}

.transaction-line {
  display: flex; 
  justify-content: space-around;
}


///////////////////////////////

div#table {
    // margin-top: 2rem;
    margin: 2rem 7rem 0 7rem;
    width: available;
    padding-bottom: 125px;
    // background: pink;
}

table.currencies {
    // margin: 0 auto;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    // background: lightgrey;

    .currency-logo {
        width: auto;
        height: 3rem;
    }

    col.currency-id {
        width: 2rem;
    }
    
    th, td {
        // background: transparent;
        border-bottom: 1px solid #00000047;
    }

    tr {
        padding: 0 1rem;
        
        th {
            text-align: left;
            
        }
        td {
            padding: 0.5rem 0;
            height: 3rem;
            font-size: 1.1rem;
            
            &:nth-of-type(2) {
                img.currency-logo {
                    vertical-align: middle;
                }
                span {   
                    margin-left: 1ex;
                }
            }
        }
    }

    svg.currency-chart {
        height: available;
    }
    
    thead {
        text-transform: uppercase;
    }

    button.currency-trade {
        margin: 0;
        padding: 1rem .8rem;
        border-radius: 3px;
    }
}

.mini-table-row:hover {
    background: #80808075;
    cursor: pointer;
}

input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}